<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.blooddonation">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BloodDonation">
        <activity
            android:name=".HomeContainerActivity"
            android:exported="false" />
        <activity
            android:name=".DashboardContainerActivity"
            android:exported="false" />
        <activity
            android:name=".MainFragments.UserProfile.ActivityEditProfile"
            android:exported="false" />
        <activity
            android:name=".MainFragments.UserProfile.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".MainFragments.UserProfile.ActivitySupport"
            android:exported="false" />
        <activity
            android:name=".DashboardElementContainerActivity"
            android:exported="false" />
        <activity
            android:name=".OnlineStatus.NoInternet"
            android:exported="false" />
        <activity
            android:name=".OnlineStatus.noInternet"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="true" />
        <activity
            android:name=".Auth.ForgetPassword"
            android:exported="true" />
        <activity
            android:name=".Auth.ActivityRegister"
            android:exported="true" />
        <activity
            android:name=".Auth.ActivityLogin"
            android:exported="true" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>